body {
    background-color: cadetblue;
    margin: 0;
}

h1 {
    text-align: center;
    
}


.clalcBox {
    width: 800px;
    height: 80px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: darkgrey;
    box-shadow: 3px 3px;
    padding: 1v;
    position: relative;
}

.outerForm {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

form {
    margin: 0;
    
}

.sub:hover {
    background-color:aquamarine;
    
}


.wynik {
    display: inline;
    float: right

}

label{
    font-size: 20px;
}



input {
    height: 25px;
    width: 80px;
}















