body {
    background-color: cadetblue;
    margin: 0;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px gra;
}

form {
    margin: 4%;
    margin-left: 30px;
    vertical-align: middlel
}

.wynik {
    display: inline;
    float: right

}

label{
    font-size: 20px;
}



input {
    height: 25px;
    width: 80px;
}

.clalcBox {
    width: 700px;
    height: 80px;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: darkgrey;
    box-shadow: 3px 3px;
    padding: 1v
}












